.intro-wrapper {
  display: contents;
}
 
.intro-thq-header26-elm {
  gap: var(--dl-layout-space-twounits);
  height: 767px;
  padding-bottom: 28px;
}
 
.intro-thq-max-width-elm {
  height: 636px;
  align-self: center;
}
 
.intro-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 140px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.intro-thq-text-elm1 {
  text-align: center;
}
 
.intro-thq-text-elm2 {
  text-align: center;
  font-family: "Lora";
  font-weight: bold;
  backdrop-filter: blur(5px);
}
 
.intro-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .intro-thq-header26-elm {
    height: 699px;
  }
  .intro-image {
    height: auto;
  }
}
 
@media(max-width: 991px) {
  .intro-thq-header26-elm {
    height: 608px;
  }
  .intro-image {
    height: auto;
  }
}
 
@media(max-width: 767px) {
  .intro-thq-header26-elm {
    height: 594px;
    padding-top: var(--dl-layout-space-fiveunits);
    padding-bottom: 60px;
  }
  .intro-image {
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .intro-thq-header26-elm {
    width: 479px;
    height: 522px;
    padding-top: var(--dl-layout-space-fiveunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .intro-image {
    width: 446px;
    height: auto;
  }
}

.two-column-text-wrapper {
  display: contents;
}
 
.two-column-text-container1 {
  display: contents;
}
 
.two-column-text-thq-two-column-text-section-elm {
  height: 2083px;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: transparent;
}
 
.two-column-text-thq-two-column-text-container-elm {
  height: 1297px;
}
 
.two-column-text-thq-two-column-text-grid-elm {
  height: 1683px;
}
 
.two-column-text-text11 {
  font-style: italic;
  text-transform: capitalize;
}
 
.two-column-text-text56 {
  text-align: left;
}
 
.two-column-text-thq-wedding-timeline-vertical-elm {
  width: 463px;
  display: flex;
  position: static;
}
 
.two-column-text-container2 {
  display: none;
}
 
.two-column-text-container3 {
  display: contents;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text4 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text5 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text6 {
  display: inline-block;
}
 

 
@media(max-width: 1600px) {
  .two-column-text-thq-two-column-text-section-elm {
    height: 1760px;
    padding-top: 38px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .two-column-text-thq-two-column-text-container-elm {
    height: 1513px;
    align-self: flex-start;
  }
  .two-column-text-thq-two-column-text-grid-elm {
    height: 1698px;
  }
  .two-column-text-text37 {
    font-style: italic;
  }
  .two-column-text-text39 {
    font-style: italic;
  }
}
 
@media(max-width: 1200px) {
  .two-column-text-thq-two-column-text-section-elm {
    height: 2269px;
    padding-top: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 991px) {
  .two-column-text-thq-two-column-text-section-elm {
    padding-top: 11px;
  }
}
 
@media(max-width: 767px) {
  .two-column-text-thq-two-column-text-section-elm {
    padding-top: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .two-column-text-thq-two-column-text-section-elm {
    height: 2739px;
    align-items: flex-start;
    padding-top: 0px;
  }
}

.wedding-form-wrapper {
  display: contents;
}
 
.wedding-form-container1 {
  display: contents;
}
 
.wedding-form-thq-wedding-form-section-elm {
  background-color: transparent;
}
 
.wedding-form-thq-wedding-form-content-elm {
  height: 1008px;
}
 
.wedding-form-thq-wedding-form-header-elm {
  height: 403px;
  display: flex;
  justify-content: flex-start;
}
 
.wedding-form-thq-hero-title-elm {
  height: 167px;
}
 
.wedding-form-thq-wedding-form-input-elm {
  border-color: #cfd2c4;
}
 
.wedding-form-thq-wedding-form-select-elm1 {
  border-color: #cfd2c4;
}
 
.wedding-form-thq-wedding-form-select-elm2 {
  border-color: #cfd2c4;
}
 
.wedding-form-thq-wedding-form-select-elm3 {
  border-color: #cfd2c4;
}
 
.wedding-form-thq-wedding-form-textarea-elm {
  border-color: #cfd2c4;
}
 
.wedding-form-container2 {
  display: none;
}
 
.wedding-form-container3 {
  display: contents;
}
 

 
@media(max-width: 991px) {
  .wedding-form-thq-wedding-form-header-elm {
    height: 323px;
  }
}
 
@media(max-width: 767px) {
  .wedding-form-thq-wedding-form-header-elm {
    height: 267px;
  }
  .wedding-form-thq-hero-title-elm {
    height: 121px;
  }
  .wedding-form-thq-btn-elm1 {
    border-radius: var(--border-radius-xl);
  }
}
 
@media(max-width: 479px) {
  .wedding-form-thq-section-content-elm1 {
    text-align: left;
  }
}

.z-footer1-wrapper {
  display: contents;
}
 
.z-footer1-thq-footer1-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.z-footer1-thq-max-width-elm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.z-footer1-thq-credits-elm {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.z-footer1-thq-row-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text7 {
  display: inline-block;
  font-family: "Lora";
  font-weight: 700;
}
 
@media(max-width: 767px) {
  .z-footer1-thq-row-elm {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .z-footer1-thq-credits-elm {
    gap: var(--dl-layout-space-unit);
  }
  .z-footer1-thq-row-elm {
    align-items: center;
    justify-content: center;
  }
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text4 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text5 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text6 {
  display: inline-block;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text7 {
  display: inline-block;
  font-family: "Lora";
  font-weight: 700;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text8 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
