.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 248px;
  margin: 36px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 148px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 59px auto 0;
}

.u-section-4 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 29px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 364px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 59px auto 0;
}

.u-section-5 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 29px auto 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 828px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 740px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 647px;
  --gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-9 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-11 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-12 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-13 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-14 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-15 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-16 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 30px 9px;
}

.u-section-6 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-6 .u-text-17 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-6 .u-text-18 {
  font-weight: 700;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 533px;
    grid-gap: 10px;
  }

  .u-section-6 .u-icon-1 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-4 {
    margin-top: 119px;
    margin-bottom: -31px;
  }

  .u-section-6 .u-icon-2 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-6 {
    margin-top: -115px;
  }

  .u-section-6 .u-icon-3 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-8 {
    margin-top: 119px;
  }

  .u-section-6 .u-icon-4 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-top: -119px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 119px;
  }

  .u-section-6 .u-icon-5 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-12 {
    margin-top: 119px;
    margin-bottom: -89px;
  }

  .u-section-6 .u-icon-6 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-14 {
    margin-top: 119px;
    margin-bottom: -59px;
  }

  .u-section-6 .u-icon-7 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
  }

  .u-section-6 .u-text-16 {
    margin-top: 119px;
    margin-bottom: -118px;
  }

  .u-section-6 .u-icon-8 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-top: -148px;
  }

  .u-section-6 .u-text-18 {
    margin-top: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1069px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-4 {
    width: 45px;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-6 {
    width: 45px;
    margin-top: 19px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-8 {
    width: 45px;
    margin-top: 19px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-10 {
    width: 45px;
    margin-top: 19px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-12 {
    width: 45px;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-14 {
    width: 45px;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-text-15 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-16 {
    width: 45px;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 64px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-6 .u-text-17 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-18 {
    width: 45px;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -176px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: -148px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1794px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 1635px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 9px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-11 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-14 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 9px;
  }

  .u-section-6 .u-text-15 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-16 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 9px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 0;
  }

  .u-section-6 .u-text-17 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-6 .u-text-18 {
    width: auto;
    margin-top: 8px;
  }
} .u-section-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-7 .u-sheet-1 {
  min-height: 1205px;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 1085px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(254, 249, 230, 0.5), rgba(254, 249, 230, 0.5));
  background-size: cover;
  margin: 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 32px 164px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 14px 188px 0 0;
}

.u-section-7 .u-form-1 {
  height: 913px;
  width: 740px;
  margin: 14px 0 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-top: 20px !important;
  font-weight: 700;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin-left: 0;
  margin-top: 20px !important;
  font-weight: 700;
  font-family: Lora;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.u-section-7 .u-text-5 {
  margin-left: 0;
  font-weight: 700;
  margin-top: 20px !important;
}

.u-section-7 .u-form-group-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.u-section-7 .u-text-6 {
  margin-left: 0;
  font-weight: 700;
  margin-top: 20px !important;
}

.u-section-7 .u-form-group-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.u-section-7 .u-text-7 {
  margin-left: 0;
  font-weight: 700;
  margin-top: 20px !important;
}

.u-section-7 .u-form-group-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.u-section-7 .u-form-group-11 {
  margin-top: 20px !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-7 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }
}