.nocleg-container1 {
  display: contents;
}
 
.nocleg-thq-wedding-timeline-section-elm {
  align-items: center;
  flex-direction: column;
}
 
.nocleg-thq-section-title-elm {
  text-align: center;
}
 
.nocleg-container2 {
  display: none;
}
 
.nocleg-container3 {
  display: contents;
}
 
@media(max-width: 991px) {
  .nocleg-thq-section-title-elm {
    text-align: center;
  }
}
