.dojazd-i-parking-container1 {
  display: contents;
}
 
.dojazd-i-parking-thq-wedding-timeline-section-elm {
  align-items: center;
}
 
.dojazd-i-parking-thq-section-title-elm {
  align-self: center;
  text-align: center;
}
 
.dojazd-i-parking-text10 {
  font-style: italic;
  font-family: ""Lora"";
  font-weight: 400;
}
 
.dojazd-i-parking-text13 {
  font-family: ""Lora"";
}
 
.dojazd-i-parking-text16 {
  font-family: ""Lora"";
}
 
.dojazd-i-parking-text19 {
  font-family: ""Lora"";
}
 
.dojazd-i-parking-text22 {
  font-family: ""Lora"";
}
 
.dojazd-i-parking-container2 {
  display: none;
}
 
.dojazd-i-parking-container3 {
  display: contents;
}
 
@media(max-width: 991px) {
  .dojazd-i-parking-thq-section-title-elm {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .dojazd-i-parking-thq-section-title-elm {
    text-align: center;
  }
  .dojazd-i-parking-text10 {
    font-style: italic;
    font-family: Lora;
    font-weight: 400;
  }
  .dojazd-i-parking-text13 {
    font-family: Lora;
  }
  .dojazd-i-parking-text14 {
    font-family: Lora;
  }
  .dojazd-i-parking-text15 {
    font-family: Lora;
  }
  .dojazd-i-parking-text16 {
    font-family: Lora;
  }
  .dojazd-i-parking-text17 {
    font-family: Lora;
  }
  .dojazd-i-parking-text18 {
    font-family: Lora;
  }
  .dojazd-i-parking-text19 {
    font-family: Lora;
  }
  .dojazd-i-parking-text20 {
    font-family: Lora;
  }
  .dojazd-i-parking-text21 {
    font-family: Lora;
  }
  .dojazd-i-parking-text22 {
    font-family: Lora;
  }
}
