.z-footer1-thq-footer1-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.z-footer1-thq-max-width-elm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.z-footer1-thq-credits-elm {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.z-footer1-thq-row-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
 
.z-footer1-fragment {
  display: contents;
}
 
.z-footer1-text {
  display: inline-block;
  font-family: "Lora";
  font-weight: 700;
}
 
@media(max-width: 767px) {
  .z-footer1-thq-row-elm {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .z-footer1-thq-credits-elm {
    gap: var(--dl-layout-space-unit);
  }
  .z-footer1-thq-row-elm {
    align-items: center;
    justify-content: center;
  }
}
